

#nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;    
}

.navbar{
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.list1{
    list-style: none;
    cursor: pointer;
    

}

li{
    float: left;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 400;
  
}

.logo1{

    width: 120px;
    padding: 20px 10px;
}

.logo2{
    transform :scalex(-1);
    margin-top: 20%;
}

.pro{
    color: white;
    background-color: hsl(248 ,100%, 60.4%);
    border-radius: 16px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: -3px;
    margin-right: 25px;
    

}
.btn1{
    color: hsl(250,18%,19%);
    padding-bottom: 1px;
    
}
.btn2{
    color: hsl(250,18%,19%);
    padding-bottom: 1px;
}

.btn3{
    color: hsl(250,18%,19%);
    padding-bottom: 1px;
}
.btn1:hover{
    border-bottom: black solid 5px;
    margin-top: -5px;
    transition: all 0.2s linear;   
}

.btn2:hover{
    border-bottom: black solid 5px;
    margin-top: -5px;
    transition: all 0.2s linear;      
}

.btn3:hover{
    transition: all 0.2s linear;   
    margin-top: -5px;   
    border-bottom: black solid 5px;
}

.pro:hover{
font-size: 16px;
}

.my{
clear: both;
margin-top: 4%;
font-family: --font-sans,system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.heading1{
    width: 71%;
    text-align: right;
    float: left;
}

.imageheading{
    width: 29%;
    float: right;
}

.line1{
    font-weight: 600;
    color: hsl(250,18%,19%);
    text-shadow: 4px 4px 0 #fff;
    font-size: 90px;
    line-height: 5px;
   
    
}

.line2{
    font-weight: 600;
    color: hsl(250,18%,19%);
    text-shadow: 4px 4px 0 #fff;
    font-size: 88px;
    line-height: 0px;
    
}

.line3{
    font-weight: 600;
    color: hsl(250,18%,19%);
    text-shadow: 4px 4px 0 #fff;
    font-size: 88px;
    line-height: 0px;
    
}

.line4{
    font-weight: 400;
    color: hsl(250,18%,19%);
    font-size: 36px;
    line-height: 10px;
    
    
}

.line5{
    font-weight: 400;
    color: hsl(250,18%,19%);
    font-size: 34px;
    line-height: 0px;
}

.btn4{
    border:none;
    background-color: hsl(248 ,100%, 60.4%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    
}

.btn4:hover{
    box-shadow:5px 5px 20px 20px rgb(0,0,0,0.1);
    transition: all 0.1s ease-out;
    --box-shadow-glow: 0 0 0 4px hsla(205.22,79.31%,65.88%,30%);
    margin-top: -2px;
}

.about{
    clear: both;
    width: 80%;
    margin-left: 10%;
}

.wheelchair{

    text-align: right;
    width: 150px;
    
    padding: 10px 20px;
    
}

.beardedman{
    width: 130px;
    padding: 10px 20px;
    margin-top: -60px;

}

.flex-container1{
    display: flex;
    padding: 5px 5px;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.flex-content1{
    
    margin-top: 80px;
    
}

.flex-content2{
    
    margin-top: 80px;
    
    
}


.flex-content3{
    margin-top: 80px;
    margin-left: 10px;
    flex:30%;
}


.flex-content4{
    flex:30%;
    margin-top: 80px;
}

.heading2{

    width:100%;
    border-left: 5px solid hsl(25, 54%, 88%);
    padding: 25px 0px;
   
}


.heading3{

    width:100%;
    border-left: 5px solid hsl(220, 100%, 91%);
    padding: 25px 0px;
   
}


.heading4{

    width:100%;
    font-size: 1.4em;
    margin-top: -100px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}






.line6{
    font-size: 25px;
    margin-top: -39px;
    margin-left: 18px;
    color: hsl(250,18%,19%);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}









