

.nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(255,255,255,0.9);    
}

.navbar{
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.list1{
    list-style: none;
    cursor: pointer;
    

}

.list1 > li{
    float: left;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 400;
  
}

.logo1{

    width: 120px;
    padding: 20px 10px;
}

.logo2{
    transform :scalex(-1);
    margin-top: 20%;
}

.pro{
    color: white;
    background-color: hsl(248 ,100%, 60.4%);
    border-radius: 16px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    margin-top: -3px;
    margin-right: 25px;
    

}
.btn1{
    color: hsl(250,18%,19%);
    padding-bottom: 1px;
    
}
.btn2{
    color: hsl(250,18%,19%);
    padding-bottom: 1px;
}

.btn3{
    color: hsl(250,18%,19%);
    padding-bottom: 1px;
}
.btn1:hover{
    border-bottom: black solid 5px;
    margin-top: -5px;
    transition: all 0.2s linear;   
}

.btn2:hover{
    border-bottom: black solid 5px;
    margin-top: -5px;
    transition: all 0.2s linear;      
}

.btn3:hover{
    transition: all 0.2s linear;   
    margin-top: -5px;   
    border-bottom: black solid 5px;
}

.pro:hover{
font-size: 16px;
}

.my{
clear: both;
margin-top: 4%;
font-family: --font-sans,system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.heading1{
    width: 71%;
    text-align: right;
    float: left;
}

.imageheading{
    width: 29%;
    float: right;
}

.line1{
    font-weight: 600;
    color: hsl(250,18%,19%);
    text-shadow: 4px 4px 0 #fff;
    font-size: 90px;
    line-height: 5px;
   
    
}

.line2{
    font-weight: 600;
    color: hsl(250,18%,19%);
    text-shadow: 4px 4px 0 #fff;
    font-size: 88px;
    line-height: 0px;
    
}

.line3{
    font-weight: 600;
    color: hsl(250,18%,19%);
    text-shadow: 4px 4px 0 #fff;
    font-size: 88px;
    line-height: 0px;
    
}

.line4{
    font-weight: 400;
    color: hsl(250,18%,19%);
    font-size: 36px;
    line-height: 10px;
    
    
}

.line5{
    font-weight: 400;
    color: hsl(250,18%,19%);
    font-size: 34px;
    line-height: 0px;
}

.btn4{
    border:none;
    background-color: hsl(248 ,100%, 60.4%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    
}

.btn4:hover{
    box-shadow:5px 5px 20px 20px rgb(0,0,0,0.1);
    transition: all 0.1s ease-out;
    --box-shadow-glow: 0 0 0 4px hsla(205.22,79.31%,65.88%,30%);
    margin-top: -2px;
}

.about{
    clear: both;
    width: 80%;
    margin-left: 10%;
}

.wheelchair{

    text-align: right;
    width: 150px;
    
    padding: 10px 20px;
    
}

.beardedman{
    width: 130px;
    padding: 10px 20px;
    margin-top: -60px;

}

.flex-container1{
    display: flex;
    padding: 5px 5px;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.flex-content1{
    
    margin-top: 80px;
    
}

.flex-content2{
    
    margin-top: 80px;
    
    
}


.flex-content3{
    margin-top: 80px;
    margin-left: 10px;
    flex:30%;
}


.flex-content4{
    flex:30%;
    margin-top: 80px;
}

.heading2{

    width:100%;
    border-left: 5px solid hsl(25, 54%, 88%);
    padding: 25px 0px;
   
}


.heading3{

    width:100%;
    border-left: 5px solid hsl(220, 100%, 91%);
    padding: 25px 0px;
   
}


.heading4{

    width:100%;
    font-size: 1.4em;
    margin-top: -100px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
}






.line6{
    font-size: 25px;
    margin-top: -39px;
    margin-left: 18px;
    color: hsl(250,18%,19%);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.flex-container3{
    display: flex;
    flex-wrap:no-wrap;
    background-color: hsl(28,52%,95%);
    margin-top: 2%;
    padding-top: 5%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.flex-container4{
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(28,52%,95%);
    padding-top: 5%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.flexbox1{
    flex: 50%;
    text-align: right;

    
    
}

.flexbox2{
    flex: 35%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-right:11% ;
    color: hsl(250,18%,19%);
}

.flexbox3{
    flex: 50%;
    
    color: hsl(250,18%,19%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

.flexbox3 > h1{
    font-size: 44px;
    margin-left: 15%;

}

.flexbox3 > p{
    font-size: 22px;
    margin-left: 15%;
}


.flexbox4{
    flex: 50%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.flexbox3 > div{

margin-left: 15%;

}

.thought{
    border-left: 5px solid hsl(220, 100%, 91%) ;
    padding: 5px 20px;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    
}





.videoimage{
    width: 68%;
    border-radius: 4%;
    border:5px solid white;
    margin-right: 5%;
    
}

.founders{
    width: 42%;
    border : 4px solid white;
    border-radius: 4%;
    transform: rotate(3deg);
    position: relative;

}

.text{
    position: absolute;
    z-index: 1;
    font-size: 30px;
    margin-top: -40px;
    margin-left: 300px;
    text-shadow: 2px 2px hsl(28,52%,95%);
}

footer > div {

    width: 97%;
    position: absolute;
    top:40px;


}

.bottom{
    margin-top: 20%;
    width: 800px;
}
footer{
    background-color: white;
    padding:0px 50px;
    width: 100%;
    position: relative;
}

.list2{
list-style-type: none;
line-height: 55px;
font-size: 16px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:hsl(250,18%,19%);
}

.col1{

    text-align: left;
    width:45%;
    float: left;   

}

.col2{
    text-align: right;
    width: 15%;
    float: left;
}


.col1 > li{

    font-size: 10px;
}

.lastline{
    clear: both;
    margin-left: 40px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}



@media screen and (max-width: 800px) {
    .flexbox1{
      flex: 100%;
      display: block;
    }

    .flexbox2{
        width: 100%;
        flex: 100%;
    }

    .col1{
        width: 100%;
    }
    .col2{
        width: 100%;
    }

    footer > div{
        text-align: left;
    }

    .list2{
        clear: both;
        float: unset;
    }


  }






