.card{
    float: left;
    width: 21%;    
    border-radius: 6%;
    border: 1px solid black;
    background-color: white;
    margin-left: 1%;
}   



.oval-div{
    border-top : 1px solid black;
    padding: 10px 0px;
    border-radius:15%;
}

.cardheader{
    padding: 15px 15px 5px 55px;
    height: 160px;
    text-align: right;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(138, 24%, 89%);
    border-radius: 14px;
}

.content1{
    float: left;
    padding: 10px 10px;
}
.content2{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    
}

.hours{

    border-left: 1px solid black;
    padding-left: 2px;
    margin-left: 6px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.foot{
    clear: both;
    margin-top: 30%;
    padding:10px 10px;
}

.p1{

    line-height: 5px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p2{
    line-height:  5px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imager{
    border-radius: 50%;
    width: 50px;
    margin-top: -10px;
}

@media screen and (max-width:800px) {
    .card{
        float: none;
        display: block;
        width: 90%;
        margin-top: 5%;
    }

    .cardheader{
        font-size: 26px;
    }
}